html
  color #1d1d1d
  font-family Helvetica,Roboto,sans-serif
  font-size 20px

body
ul
  margin 0

@media (max-width: 770px)
  body
    font-size .85rem
    line-height 1.5rem
    margin 1rem auto
    width 62%

@media (max-width: 475px)
  body
    font-size .75rem
    width 90%

li
ul
  padding 0

main
  line-height 1.4rem
  margin 2rem auto
  max-width 350px
  text-align center
  transition all ease .1s

:link
  color #2196f3
  text-decoration none

:visited
  color #9575cd

:link:hover
:link:focus
  text-decoration underline

p
  margin 1rem 0

li
  list-style:none
  margin 0 0 .4rem

.pdf
  background url(https://dan.herbert.io/pdf-icon.svg) center right/18px no-repeat
  padding-right 22px

@media (max-width: 475px)
  .pdf
    background-size: 14px;
    padding-right: 18px;